tr {
  color: beige;
}
td {
  color: whitesmoke;
}
.form-div {
  width: 390px;
  margin: 0 auto;
  padding: 30px 0;
}
.img {
  margin-left: 45%;

  margin-top: 10%;
}
.back {
  color: burlywood;
}
.body-admin {
  background-image: url("../img/loginadmin.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-div-update {
  width: 390px;
  margin: 0 auto;
  padding: 30px 0;
}
.btn-admin {
  margin-left: 700px;
  color: #fff;
  font-weight: 800;
}
.body-update {
  background-image: url("../img/display1.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.date-inp {
  margin-right: 20px;
  height: 40px;
  color: blueviolet;
}
.btn-update {
  margin-left: 20px;
}
.date {
  text-align: center;
  margin-top: 50px;
  border-radius: 3px;
}
.body {
  background-image: url("../img/login.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: beige;
  font-weight: bolder;
}
.data {
  color: beige;
  font-weight: 1000;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.link {
  text-decoration: whitesmoke;
  color: yellow;
}
.hint {
  font-size: 18px;
  color: whitesmoke;
  margin-top: 19px;
}
.link:hover {
  color: brown;
}
.body-add {
  background-image: url("../img/meal3.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-div-add {
  width: 390px;
  margin-left: 80px;
  padding: 30px 0;
}
.submit-btn {
  margin-left: 15px;
}

.body-table {
  margin-bottom: 10px;
  /* background-image: url("../img/display1.jpeg");*/
  background-color: lightgreen;

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-wrapper {
  /*background: #fff;*/
  background: skyblue;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title {
  color: #fff;
  background: #5cb85c;
}

tr {
  color: darkred;
  font-weight: 1000;
}
td {
  color: black;
  font-weight: 900;

  z-index: 2;
}
.blinker {
  background-color: red;
  text-align: center;
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
